[user]
    name = Oleg Andriyanov
    email = o.andriyanov@drweb.com

[push]
    default = current

[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    df = diff --word-diff=color --minimal --word-diff-regex='[a-zA-Z0-9_:]+|[^[:space:]]'
    rb = rebase
    rbi = rebase -i
    rbc = rebase --continue
    cp = cherry-pick
    cpc = cherry-pick --continue
    cpa = cherry-pick --abort

[diff]
    algorithm = minimal

[core]
    editor = vim
